@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap');

.nav {
    display: flex;
}

.logo > img {
    display: flex;
    width: auto;
    height: 120px;
    margin-left: 43em;
}

ul {
    display: flex;
    list-style: none;
    gap: 2em;
    color: black;
    margin-top: 56px;
    margin-left: 40px;
}

li {
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
}

li > a:hover {
    transition: .3s;
    color: red;
    transition: .2s;
    color: rgb(218, 63, 63);
    transition-timing-function: ease-in;
}

li > a {
    text-decoration: none;
    color: rgb(0, 0, 0);  
}

.contact-us {
    display: grid;
    grid-template-columns: repeat(3, 1fr 1fr);
    gap: 100px;
    margin-left: 455px;
    margin-top: 100px;
    color: white;
}

.contact-card {
    background-color: black;
    padding: 60px;
    border-radius: 20px;
    cursor: pointer;
}

.contact-card > img {
    width: auto;
    height: 100px;
    cursor: pointer;
}

.contact-card > p {
    text-align: center;
    /* color: white; */
    font-family: 'Raleway', sans-serif;
}

.contact-card:hover {
    transition: .2s;
    background-color: darkslategray;
    color: rgb(0, 0, 0);
    opacity: 99%;
}